<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tact.base.mybatis.mapper.SongMapper">
    
    <select id="findByState" resultType="org.tact.base.mybatis.domain.Song" parameterType="string">
        select * from feelI where state = #{state} limit 1
    </select>    
    
    <select id="findMultipleCitiesByStates" resultType="org.tact.base.mybatis.domain.Song" parameterType="string">
        select * from feelI where state = #{state}
    </select>
    
    <select id="findByCountry" resultType="org.tact.base.mybatis.domain.Song" parameterType="string">
        select * from feelI where country = #{country} limit 1
    </select>
    
    <select id="findAll" resultType="org.tact.base.mybatis.domain.Song">
        select * from feelI 
    </select>
    
    <insert id="addSong" parameterType="map">		
		INSERT INTO FEELI
		(
		USERNAME, YOUTUBE_LINK, COMMENTS
		)	VALUES(#{USERNAME}, #{YOUTUBE_LINK}, #{COMMENTS})
	</insert>  
    
    
    
</mapper>
